@theme "themes/catppuccin-default.rasi"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    icon-theme: "Tela Dark";
}
